language: python
matrix:
  include:
    - python: 3.6
    - python: 3.7
      dist: xenial
      sudo: true
install:
  - pip install -r requirements.txt
script:
  - flake8 data_platform
  - pylint data_platform
  - mypy data_platform
  - flake8 data_fetcher
  - pylint data_fetcher
  - mypy data_fetcher
  - flake8 network_analysis
  - pylint network_analysis
  - mypy network_analysis
  - flake8 network_construction
  - pylint network_construction
  - mypy network_construction
  - python runtest.py
