language: python
matrix:
  include:
    - python: 3.6
      env: TESTFOLDER=data_platform
    - python: 3.6
      env: TESTFOLDER=data_fetcher
    - python: 3.7
      env: TESTFOLDER=data_platform
      dist: xenial
      sudo: true
    - python: 3.7
      env: TESTFOLDER=data_fetcher
      dist: xenial
      sudo: true
install:
  - pip install -r requirements.txt
  - pip install -e data_platform/
  - pip install -e data_fetcher/
script:
  - flake8 $TESTFOLDER
  - pylint $TESTFOLDER
  - mypy $TESTFOLDER
  - python test/$TESTFOLDER/runtest.py
